[mysqld]
skip-grant-tables
lower_case_table_names=1
# 设置3306端口
port=3306
# 设置mysql数据库的数据的存放目录
datadir=/usr/local/mysql/data
# 允许最大连接数
max_connections=10000
# 允许连接失败的次数。
max_connect_errors=20
# 服务端使用的字符集默认为UTF8
character-set-server=utf8
# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB
# 默认使用“mysql_native_password”插件认证
default_authentication_plugin=mysql_native_password
#MySQL服务器的ID，必须是唯一的，集群各个节点也不同
server_id=1
# 防止日志时间和系统时间不一样
log_timestamps=SYSTEM
explicit_defaults_for_timestamp=true
log_error=/var/log/mysql.error
pid_file=/run/mysqld/mysqld.pid
user=mysql
socket=/usr/local/mysql/data/mysql.sock
# galera集群的名字，必须是统一的
wsrep_cluster_name='cs_cluster'
# wsrep提供者,必须配置(可以通过find命令查找 该文件在在那两个目录下)
wsrep-provider=/usr/lib64/galera-3/libgalera_smm.so
#wsrep节点的ID，必须是唯一的，集群各个节点也不同
wsrep_node_name = node1
# 集群中的其他节点地址，可以使用主机名或IP
#wsrep_cluster_address=gcomm://192.168.1.33:4567,192.168.1.34:4567,192.168.1.35:4567
wsrep_cluster_address=gcomm://
# 本机节点地址，可以使用主机名或IP
wsrep_node_address='192.168.1.33'
# 指定wsrep启动端口号,4567为默认值
wsrep_provider_options ="gmcast.listen_addr=tcp://192.168.1.33:4567"
# 一个逗号分割的节点串作为状态转移源，比如 wsrep_sst_donor=node1,node2,node3 如果node1可用，用node2,如果node2不可用，用node3，最后的逗号表明让提供商自己选择一个最优的。
wsrep_sst_donor='node1,node2,node3'
# 集群同步方式
wsrep_sst_method=rsync
# 集群同步的用户名密码
wsrep_sst_auth=test:test
slow_query_log=on
[mysql]
# 设置mysql客户端默认字符集
default-character-set=utf8
socket=/usr/local/mysql/data/mysql.sock
[client]
# 设置mysql客户端连接服务端时默认使用的端口
port=3306
default-character-set=utf8
socket=/usr/local/mysql/data/mysql.sock
[mysqldump]
max_allowed_packet = 512M
[mysqld_safe]
malloc-lib=/usr/lib64/libjemalloc.so.1
